body {
  margin: 0;
  padding: 0;
}
#One {
  display: flex;
  flex-direction: column;
}
#One #header_menu ul li{
    height:100%;
}
#One #header_menu ul li:nth-child(2) {
  background: #ff0000;
}
#One #header_menu ul li:nth-child(3) i {
  margin: 0;
}
#One #header_menu ul li:hover {
  background-color: orangered;
}
#One .title {
  flex: 1;
  margin: 0;
  padding: 0;
}
#One #Content {
  display: flex;
  flex-direction: column;
}
#One #Content .Content_Path {
  width: 1160px;
  margin: auto;
  padding-top: 15px;
  height: 40px;
}
#One #Content .Content_Path a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#One #Content .Content_Path a:hover {
  color: red;
}
#One #Content .Content_CarType {
  border: solid 1px #CCCCCC;
  width: 1160px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#One #Content .Content_CarType .CarType_Row {
  border-bottom: 1px solid #CCCCCC;
  flex: 1;
  display: flex;
  flex-direction: row;
}
#One #Content .Content_CarType .CarType_Row span {
  width: 80px;
  text-align: center;
  padding-top: 12px;
  color: #696969;
}
#One #Content .Content_CarType .CarType_Row p {
  position: relative;
  top: 13px;
  font-size: 14px;
  color: orange;
}
#One #Content .Content_CarType .CarType_Row i {
  position: relative;
  top: 14px;
  left: 12px;
  width: 20px;
  height: 20px;
  display: block;
}
#One #Content .Content_CarType .CarType_Row ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 20px;
}
#One #Content .Content_CarType .CarType_Row ul li {
  margin-top: 12px;
  margin-right: 20px;
  cursor: pointer;
  float: left;
}
#One #Content .Content_CarType .CarType_Row ul li:hover {
  color: orange;
}
#One #Content .Content_CarType div:first-child i {
  background: url(../../images/ui-icons_cc0000_256x240.png) no-repeat;
  background-position: -180px 0;
}
#One #Content .Content_CarType div:nth-child(2) i {
  background: url(../../images/ui-icons_cc0000_256x240.png) no-repeat;
  background-position: -224px 0;
}
#One #Content .Content_CarType div:nth-child(3) i {
  background: url(../../images/ui-icons_cc0000_256x240.png) no-repeat;
  background-position: -202px 0;
}
#One #Content .Content_Contrast {
  border: solid 1px #CCCCCC;
  width: 1160px;
  margin: 20px auto;
  height: 50px;
  background: #EEEEEE;
}
#One #Content .Content_Contrast ul {
  margin: 0;
  padding: 0;
}
#One #Content .Content_Contrast ul li {
  float: left;
  text-align: center;
  padding-top: 12px;
  width: 100px;
  height: 48px;
  list-style: none;
  border-right: solid 1px #CCCCCC;
}
#One #Content .Content_Contrast ul li a {
  color: black;
  text-decoration: none;
}
#One #Content .Content_Contrast li:hover {
  background: orange;
}
#One #Content .Content_Contrast li:hover a {
  color: white;
}
#One #Content .container {
  padding: 0;
  width: 1160px;
  text-align: center;
}
#One #Content .container div:nth-child(1) div {
  height: 400px;
  padding: 10px;
}
#One #Content .container div:nth-child(1) div .div_One-Content:hover {
  border: solid 1px orange;
}
#One #Content .container div:nth-child(1) div .div_One-Content {
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: solid 1px #CCCCCC;
  text-decoration: none;
}
#One #Content .container div:nth-child(1) div .div_One-Content a {
  border: solid 1px #ccc;
  background: red;
  opacity: 0;
  width: 95%;
  height: 95%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#One #Content .container div:nth-child(1) div .div_One-Content .div_One-Title {
  margin: 20px auto;
  padding: 0;
  width: 180px;
  height: 100px;
  display: flex;
  flex-direction: column;
}
#One #Content .container div:nth-child(1) div .div_One-Content .div_One-Title span {
  text-align: left;
  font-size: 20px;
  flex: 1;
  color: orange;
}
#One #Content .container div:nth-child(1) div .div_One-Content .div_One-Title span b {
  float: right;
}
#One #Content .container div:nth-child(1) div .div_One-Content .div_One-Title span:first-child {
  border-bottom: solid 1px #CCCCCC;
}
#One #Content .container div:nth-child(1) div .div_One-Content .div_One-Title p {
  text-align: center;
  padding-top: 5px;
  flex: 1;
  background: red;
  color: white;
  border-radius: 2px;
}
#One #Content .container div:nth-child(1) div .div_One-Content .div_One-Info {
  display: flex;
  flex-direction: column;
  /*border: solid 1px red;*/
  height: 100px;
}
#One #Content .container div:nth-child(1) div .div_One-Content .div_One-Info b {
  flex: 1;
}
#One #Content .container div:nth-child(1) div .div_One-Content .div_One-Info p {
  flex: 1;
}
#One #Content .container #rowTow {
  margin: 20px -5px 0 -5px;
}
#One #Content .container #rowTow div {
  border: solid 1px #ccc;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 50px;
  overflow:hidden;
}
#One #Content .container #rowTow div a:first-child {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 32px;
  text-decoration: none;
}
#One #Content .container #rowTow div a {
  display: inline-block;
  margin-top: 12px;
  text-decoration: none;
  cursor: pointer;
}
#One #Content .container #rowTow div a:hover {
  color: orange;
}
#One #Content .container #rowTow div .astle {
  color: #CCCCCC;
}
#One #Content .container #rowTow div .csstle {
  display: inline-block;
  margin-top: 12px;
  color: #0094ff;
  text-decoration: none;
  cursor: pointer;
}
#One #Content .container #rowTow div span {
  display: inline-block;
  text-align: center;
  border: solid 1px #CCCCCC;
  cursor: pointer;
  height: 18px;
  border-radius: 50%;
  width: 18px;
  font-size: 10px;
  margin: 12px 2px 0 2px;
}
#One #Content .container #rowTow div span:hover {
  display: inline-block;
  color: red;
  background: #CCCCCC;
}
#One #Content .spanslle {
  display: inline-block;
  color: red;
  background: #CCCCCC;
}
#One #CopyRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
#One #CopyRight .Copy_One {
  text-align: center;
  margin-top: 40px;
}
#One #CopyRight .Copy_One span {
  font-size: 32px;
}
#One #CopyRight div:nth-child(2) {
  width: 1160px;
  margin: auto;
}
