body {
  margin: 0;
  padding: 0;
}
#Title {
  display: flex;
  flex-direction: column;
}
#Title #One_Taskar {
  display: flex;
  flex-direction: row;
  background: #333;
  height: 40px;
}
#Title #One_Taskar .Taskar_Con1 {
  flex: 1;
}
#Title #One_Taskar .Taskar_Con1 ul {
  margin: 0 0 0 80px;
  padding: 0;
}
    #Title #One_Taskar .Taskar_Con1 ul li {
        list-style: none;
        float: left;
        height: 40px;
        padding: 0;
        width: 100px;
        border-left: solid 1px #1d1d1d;
        border-right: solid 1px #454545;
        text-align: center;
        display: inline-block;
        overflow: hidden;
    }
#Title #One_Taskar .Taskar_Con1 ul li a {
  color: #BBBBBB;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100px;
  padding-top: 8px;
  height: 40px;
}
#Title #One_Taskar .Taskar_Con1 ul li a:hover {
  color: white;
  background: #222222;
}
#Title #One_Taskar .Taskar_Con2 {
  flex: 1;
}
#Title #One_Taskar .Taskar_Con2 ul {
  margin: 0 80px 0 0;
  padding: 0;
}
#Title #One_Taskar .Taskar_Con2 ul li {
  list-style: none;
  float: right;
  height: 40px;
  padding: 0;
  width: 100px;
  border-left: solid 1px #1d1d1d;
  border-right: solid 1px #454545;
  text-align: center;
  overflow:hidden;
  display: inline-block;
}
#Title #One_Taskar .Taskar_Con2 ul li a {
  color: #BBBBBB;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100px;
  padding-top: 8px;
  height:40px;
}
#Title #One_Taskar .Taskar_Con2 ul li a:hover {
  color: white;
  background: #222222;
}
#Title #One_Title {
  width: 1200px;
  margin: auto;
  height: 130px;
  display: flex;
  flex-direction: row ;
}
#Title #One_Title .Title_logo {
  flex: 1;
}
#Title #One_Title .Title_logo img {
  margin: 30px 0 0 0;
  height: 70px;
}
#Title #One_Title .Title_Search {
  margin-top: 30px ;
  flex: 3;
}
#Title #One_Title .Title_Search .Title_Search_Son1 {
  width: 500px;
  display: flex;
  flex-direction: column;
}
#Title #One_Title .Title_Search .Title_Search_Son1 .Son1_sun1 {
  height: 25px;
  padding: 0;
}
#Title #One_Title .Title_Search .Title_Search_Son1 .Son1_sun1 a {
  margin: 0;
  position: relative;
  top: 7px;
  width: 100px;
  color: orange;
  text-decoration: none;
  padding: 0 10px 0 10px;
}
#Title #One_Title .Title_Search .Title_Search_Son1 .Son1_sun1 a:first-child {
  color: white;
  background: orange;
}
#Title #One_Title .Title_Search .Title_Search_Son1 .Son1_sun2 {
  border: solid 2px orange;
  display: flex;
  flex-direction: row;
}
#Title #One_Title .Title_Search .Title_Search_Son1 .Son1_sun2 input {
  padding-left: 40px ;
  padding-right: 40px ;
  width: 400px;
  height: 30px;
  border: none;
}
#Title #One_Title .Title_Search .Title_Search_Son1 .Son1_sun2 .Son1_sun3 {
  width: 100px;
  text-align: center;
  background: orange;
}
#Title #One_Title .Title_Search .Title_Search_Son1 .Son1_sun2 .Son1_sun3 a {
  margin: 0;
  padding: 0;
  background: orange;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-top: 3px;
  width: 100%;
  height: 95%;
  display: inline-block;
}
#Title #One_Title .Title_Search .Title_Search_Son1 .Son1_sun2 .Son1_sun3 a:hover {
  background: orangered;
}
#Title #header_menu {
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  height: 40px;
  background: orange;
  overflow:hidden;
}
#Title #header_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#Title #header_menu li {
  margin: 0;
  float: left;
  height: 40px;
  text-align: center;
}
#Title #header_menu li a {
  width: 130px;
  color: white;
  padding-top: 10px;
  display: inline-block;
  height: 40px;
  text-decoration: none;
}
#Title #header_menu li:hover a {
  color: white;
  background: #FF4500;
}
#Title #header_menu li:nth-child(3) i {
  display: inline-block;
  margin-top: 3px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background: url(../../images/ui-icons_ffffff_256x240.png) no-repeat;
  vertical-align: text-top;
}
